[submodule "olc2-covid-backend"]
	path = olc2-covid-backend
	url = https://github.com/MacoChave/olc2-covid-backend.git
[submodule "olc2-covid-frontend"]
	path = olc2-covid-frontend
	url = https://github.com/MacoChave/olc2-covid-frontend.git
